{% include "header.html" with title="Assignments" %}

<main>
    <div class="title">
        <h1>All assignments</h1>
    </div>

    <!--Assignments list table-->
    <table>
        <thead>
            <tr>
                <th>Assignment</th>
                <th class="sortable">Due date</th>
                <th class="number_col sortable">Weight</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in assignments %}
            <tr data-index={{forloop.counter}}>
                <td><a href="/{{assignment.id}}">{{assignment.title}}</a></td>
                <td data-value={{assignment.deadline|date:"U"}}>{{assignment.deadline|date:"M d"}}</td>
                <td data-value={{assignment.weight}} class="number_col">{{assignment.weight}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script type=module>
        import { make_table_sortable } from "/static/main.js";
        make_table_sortable($("table"));
    </script>
</main>